<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport"content="width=device-width,initial-scale=1.0">
    <meta name="robots" content="index,follow">	
    <meta name="description" content="Conteudo inovador e dinâmico com muito entretenimento. Desde o seu lançamento,
    temos expandido nossa presença nas principais redes sociais, como Instagram, Youtube e TikTok, trazendo conteúdo diversificado e de alta qualidade!">
    <meta name="keyword" content="TalkShow, Diversão, Conteúdo, Rede social, Inovação, Blog, criação, criação de conteudo, passar tempo">
    <meta name="author" content=" Dérick campos santos, Derick, Dking">
    <meta name="language" content="pt-BR">
    <meta name="theme-color" content="#ffffff">
    <meta name="generator" content="Visual studio code">

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"> <!-- Evitar cache -->
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="refresh" content="30">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

    <meta property="og:title" content="Blog do gugutalkshow">
    <meta property="og:url" content="https://gugutalkshoww.vercel.app/">
    <title>Area administrativa</title>
    <link rel="icon" href="/Imagens/logoBranca (1).jpg" type="image/jpeg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/responsividade.css">
    <link rel="stylesheet" href="/css/post.css">
</head>
<body>
    <header>
    
        <div id="sidebar" class="sidebar">
            <button class="menu-icon" onclick="toggleSidebar()">
                <i class="fas fa-times close"></i>
            </button>
            <h2>Menu</h2>
            <ul>
                <li><a href="#">Início</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Contato</a></li>
                <li><a href="#">Nos siga</a></li>
            </ul>
        </div>
        
        <button onclick="toggleSidebar()"><i class="fas fa-bars home"></i></button>
        <h1>Área administrativa</h1>
        <nav>
            <button class="back" onclick="location.href='/'"><i class="fas fa-home"></i></button>
        </nav>
    </header>
    <main>

        <div vw class="enabled">
            <div vw-access-button class="active"></div>
            <div vw-plugin-wrapper>
                <div class="vw-plugin-top-wrapper"></div>
            </div>
        </div>

        <h2>Criar Novo Post</h2>
        <form id="postForm" enctype="multipart/form-data">
            <input type="text" name="title" placeholder="Título" required>
            <textarea name="content" placeholder="Conteúdo" required></textarea>
            <input type="file" name="media" accept="image/*">
            <button type="submit">Adicionar Post</button>
        </form>
        <div id="notification" class="notification"></div>

        <div class="exclusaoBox">
            <div class="displayColumn">
                <h2>Posts Existentes</h2>
                <button class="accordion-button" onclick="toggleAccordion()"><i class="fas fa-chevron-down"></i></button>
            </div>
            <div class="displayRow">
                <ul id="postList">
                    <% posts.forEach(post => { %>
                        <li>
                            <h3><%= post.title %></h3>
                            <button class="excluirBtn" onclick="deletePost('<%= post._id %>')"><i class="fas fa-trash-alt"></i></button>
                        </li>
                    <% }) %>
                </ul>
            </div>
        </div>
        
    </main>

    <script>
        const form = document.getElementById('postForm');
        form.addEventListener('submit', async (e) => {
            e.preventDefault();
            const formData = new FormData(form);
            const response = await fetch('/posts', {
                method: 'POST',
                body: formData,
            });
            const result = await response.json();
            showNotification(result.message);
            form.reset(); // Reseta o formulário após o envio
            window.location.reload();
        });

        // Função para deletar um post
        async function deletePost(postId) {
            if (confirm('Tem certeza que deseja excluir este post?')) {
                const response = await fetch(`/posts/${postId}`, {
                    method: 'DELETE',
                });

                const result = await response.json();
                showNotification(result.message);

                // Atualizar a lista de posts após a exclusão
                if (response.ok) {
                    location.reload(); // Atualiza a página para remover o post excluído
                }
            }
        }

        function showNotification(message) {
            const notification = document.getElementById('notification');
            notification.textContent = message;
            notification.style.display = 'block';
            setTimeout(() => {
                notification.style.opacity = '0';
                setTimeout(() => {
                    notification.style.display = 'none';
                    notification.style.opacity = '1';
                }, 500);
            }, 3000);
        }


        function toggleAccordion() {
        const postList = document.getElementById('postList');
        postList.style.display = postList.style.display === 'none' || postList.style.display === '' ? 'flex' : 'none';
        }

        function toggleSidebar() {
            const sidebar = document.getElementById('sidebar');
            if (sidebar.classList.contains('open')) {
                sidebar.classList.remove('open');
                setTimeout(() => {
                    sidebar.style.display = 'none'; // Esconde completamente após a transição
                }, 300); // Tempo de espera para coincidir com a transição
            } else {
                sidebar.style.display = 'block'; // Mostra antes de iniciar a transição
                setTimeout(() => {
                    sidebar.classList.add('open');
                }, 10); // Pequeno atraso para garantir o efeito de transição
            }
        }



    </script>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>
</body>
</html>
