<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport"content="width=device-width,initial-scale=1.0">
    <meta name="robots" content="index,follow">	
    <meta name="description" content="Conteudo inovador e dinâmico com muito entretenimento. Desde o seu lançamento,
    temos expandido nossa presença nas principais redes sociais, como Instagram, Youtube e TikTok, trazendo conteúdo diversificado e de alta qualidade!">
    <meta name="keyword" content="TalkShow, Diversão, Conteúdo, Rede social, Inovação, Blog, criação, criação de conteudo, passar tempo">
    <meta name="author" content=" Dérick campos santos, Derick, Dking">
    <meta name="language" content="pt-BR">
    <meta name="theme-color" content="#ffffff">
    <meta name="generator" content="Visual studio code">

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"> <!-- Evitar cache -->
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="refresh" content="30">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

    <meta property="og:title" content="Blog do gugutalkshow">
    <meta property="og:url" content="https://gugutalkshoww.vercel.app/">
    <title>Login</title>
    <!-- Incluindo o reCAPTCHA -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <!-- Incluindo a API do VLibras -->
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <link rel="icon" href="/Imagens/logoBranca (1).jpg" type="image/jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/responsividade.css">
</head>
<body>

    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>

    <div class="login-container">
        <h1>Login</h1>
        <button onclick="location.href='/'"><i class="fas fa-arrow-circle-left backIcon"></i></button>
        <!-- Formulário de login -->
        <form action="/login" method="POST">
            <div class="input-group">
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" placeholder="Digite seu e-mail" required>
            </div>

            <div class="input-group">
                <label for="password">Senha:</label>
                <div class="password-container">
                    <input type="password" id="password" name="password" placeholder="Digite sua senha" required>
                        <i class="fas fa-eye eye-icon" id="togglePassword"></i> <!-- Ícone de olho fechado -->
                </div>
            </div>

            <!-- reCAPTCHA -->
            <div class="recaptcha-container">
                <div class="g-recaptcha" data-sitekey="6Lfh7XkqAAAAAJ5P_DC7uspEkgQH14XGpTLfh70P"></div>
            </div>

            <!-- Botão de login -->
            <button type="submit">Entrar</button>
        </form>

        <!-- Inclusão do VLibras -->

    </div>

    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
   

    <script>
        document.addEventListener('DOMContentLoaded', function () {
        const togglePassword = document.getElementById('togglePassword');
        const passwordInput = document.getElementById('password');
        
        togglePassword.addEventListener('click', () => {
            // Alterna entre tipo 'password' e 'text'
            const type = passwordInput.type === 'password' ? 'text' : 'password';
            passwordInput.type = type;
            
            // Alterna o ícone de olho
            togglePassword.classList.toggle('fa-eye');
            togglePassword.classList.toggle('fa-eye-slash');

       
    });
});

    </script>
</body>
</html>
