/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#content {
    padding: 20px;
}

/* Estilo do ícone do menu */
.menu-icon {
    font-size: 30px;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: transparent;
    border: none;
    color: #333;
    cursor: pointer;
}

/* Estilos para a sidebar */
/* Sidebar escondida por padrão */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    z-index: 1000;
    
}

/* Sidebar visível quando adicionada a classe "open" */
.sidebar.open {
    width: 250px;
    display: block;
}


.sidebar h2 {
    color: #333;
    font-weight: 800;
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    text-align: center;
    margin: 10px 0;
}

.sidebar ul li a {
    color: #333;
    font-weight: 600;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 12px;
    transition: 0.3s;
}

.sidebar ul li a:hover {
    background-color: #4829f9;
    color: #fff;
}

/* Botão para fechar a sidebar */
.close-btn {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 36px;
    color: white;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* Estilos para o conteúdo principal */
.content {
    transition: margin-left .3s;
    padding: 20px;
}

.close{
    color: red;

}

