/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f7fa;
    color: #333;
    line-height: 1.6;
}

/* Estilização do cabeçalho */
header {
    background-color: #4829f9;
    color: #ecf0f1;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    letter-spacing: 2px;
    color: #fff;
}

nav button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background-color: #fff;
    color: rgb(15, 35, 150);
    font-size: 1.1rem;
    position: absolute;
    top: 1%;
    left: 90%;
    cursor: pointer;
    transition: all 0.3s ease;
}

nav button:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}

.home{
    position: absolute;
    color: #fff;
    top: 2%;
    left: 5%;
    font-size: 40px;
}



/* Estilização do conteúdo principal */
main {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}

form input[type="text"],
form textarea {
    padding: 15px;
    border: 2px solid #bdc3c7;
    border-radius: 5px;
    width: 100%;
    font-size: 1rem;
    background-color: #ecf0f1;
    transition: all 0.3s ease;
}

form input[type="text"]:focus,
form textarea:focus {
    border-color: #3498db;
    background-color: #fff;
}

form textarea {
    height: 150px;
    resize: none;
}

h1{
    color: #fff;
}

form input[type="file"] {
    padding: 5px;
    font-size: 1rem;
}

form button {
    padding: 15px 25px;
    background-color: #4829f9;
    border: none;
    border-radius: 50px;
    color: #ffffff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background-color: #4e36da;
}



