/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f7fa;
    color: #333;
    line-height: 1.6;
}

/* Estilização do cabeçalho */
header {
    background-color: #4829f9;
    color: #ecf0f1;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    letter-spacing: 2px;
    color: #fff;
}

nav button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background-color: #fff;
    color: rgb(15, 35, 150);
    font-size: 1.1rem;
    position: absolute;
    top: 1%;
    left: 90%;
    cursor: pointer;
    transition: all 0.3s ease;
}

nav button:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}

.home{
    position: absolute;
    color: #fff;
    top: 2%;
    left: 5%;
    font-size: 40px;
}

/* Estilos para a sidebar */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fcfcfc;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    z-index: 999;
    color: white;
}

/* Estilos para o botão de fechar */
.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
}

/* Conteúdo da sidebar */
.sidebar h2 {
    margin-left: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 20px;
}

.sidebar ul li a {
    font-size: 36px;
    color: #333;
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #ccc;
}



/* Estilização do conteúdo principal */
main {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}

form input[type="text"],
form textarea {
    padding: 15px;
    border: 2px solid #bdc3c7;
    border-radius: 5px;
    width: 100%;
    font-size: 1rem;
    background-color: #ecf0f1;
    transition: all 0.3s ease;
}

form input[type="text"]:focus,
form textarea:focus {
    border-color: #3498db;
    background-color: #fff;
}

form textarea {
    height: 150px;
    resize: none;
}

h1{
    color: #fff;
}

form input[type="file"] {
    padding: 5px;
    font-size: 1rem;
}

form button {
    padding: 15px 25px;
    background-color: #4829f9;
    border: none;
    border-radius: 50px;
    color: #ffffff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background-color: #4e36da;
}

.post{
    border: 1px solid #ccc;
    margin: 0 7px 70px 7px;
    border-radius: 20px;
}

#postForm{
    margin: 40px 0 0 0;
}

.post-content h2{
    color: #333;
    text-decoration: underline;
    font-size: 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.post-content p{
    font-size: 18px;
    margin: 20px 5px 30px 5px;
}

.excluirBtn{
    width: 20%;
    height: 40px;
    border-radius: 20px;
    color: #fff;
    background-color: #d11313;
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 5px 10px;
}

.exclusaoBox {
    background-color: #f5f5f5;
    border-radius: 20px;
    margin: 40px 0 0 0;
    width: 100%;
    padding: 20px;
}

.displayColumn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.exclusaoBox h2 {
    text-align: left;
    margin: 0;
    font-size: 20px;
}

.accordion-button {
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.displayRow{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
}

#postList {
    display: none; /* Alinha os itens do #postList em linha */
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 50px 0 0 0;
}

#postList li {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f1f1f1;  
    flex: 1 1 30%;  
    text-align: center;
}

/* Notificação */
.notification {
    display: none;
    padding: 15px;
    background-color: #2ecc71;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 1.1rem;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.notification.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.notification.hide {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}


/* Responsividade */
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    main {
        padding: 15px;
    }

    nav button {
        padding: 10px;
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    main {
        padding: 10px;
    }

    form button {
        padding: 10px;
        font-size: 1rem;
    }

    h2 {
        font-size: 1.7rem;
    }
}

